@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lobster&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Great+Vibes&family=Lobster&family=MonteCarlo&family=Playwrite+HU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    
    box-sizing: content-box;
}
header {
    background: #4c2b08;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    font-family: 'Dancing Script';
    justify-content:space-between;
    align-items: center;
    
}

.menu-izquierda, .menu-derecha {
    flex: 1;
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.menu-izquierda{
    justify-content: flex-end;
}

.menu-derecha{
    justify-content: flex-start;
}

.Logo{
    flex: 0 1 auto;
    text-align: center;
}

.Logo img{
    max-width: 150px;
    height: auto;
}
.link-menu{
    text-decoration: none;
    color: #d7bda6;
    padding: 45px;
    transition: color 0.3s ease;
}

.link-menu:hover {
    color: white;
}




.Fondo1 .Imagen-fondo{
    position: absolute;
    top: 150px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 0;
    background-color: rgb(243, 231, 169);
}

.Fondo1 .Imagen-fondo img{
    width: 100%;
    opacity: 0.8;
 
}

.Fondo1 .texto{
    /*font-family: "DM Serif Text", serif;*/
    font-family: "MonteCarlo", cursive;
    font-size: 120px;
    position: absolute;
    top: 210px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0.5;
    color: antiquewhite;
    text-align: center;
}

.Fondo1 .texto .titulo{
    text-shadow: 4px 4px 1px rgb(0, 0, 0);
}

.caja {
    border: 5px solid  #b4793a;
    width: 50vw;
    height: 16vh;
    position: relative;
    top: 450px;
    margin: auto
}



.titulo2 .titulo{
    font-family: "DM Serif Text", serif;
    font-size: 80px;
    position: absolute;
    width: 100%;
    color: #552e10;
    text-shadow: 4px 4px 8px rgb(157, 119, 78);
    text-align: center;

}


.cajasBebidas {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px ; 
    row-gap: 90px; 
}


.cajaIndividual {
    border: 5px solid  #eacfb3;
    border-radius: 10%;
    background: #eacfb3;
    margin: 15px;
    width: 20vw;
    height: 50vh;
    position: relative;
    top: 550px;
    z-index: 0;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 5px 7px 8px #552e10;
 
}

.cajaIndividual:hover {
    background-color: #b3987b; 
}




.cajaIndividual .bebida img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    position: absolute;
    top: -110px; 
    left: 50%;
    transform: translateX(-50%);
}

.cajaIndividual .bebida .titulo{
    top: 90px;
    position: absolute;
    left: 12%;
    margin: none;
    font-size: 30px;

}

.cajaIndividual .bebida .titulolargo{
    top: 75px;
    position: absolute;
    left: 12%;
    margin: none;
    font-size: 30px;
}

.cajaIndividual .bebida .parrafo{
    top: 100px;
    position: absolute;
    
    top: 40%;
    left: 5%;
    margin: 2px;
    font-size: 18px;
}

.cajaIndividual .bebida .cajaprecio{
    border: 3px solid  #83603b;
    border-radius: 8px;
    width: 8vw;
    height: 5vh;
    position: absolute;
    top: 80%;
    left: 25%;
    z-index: 1;
}  

.cajaIndividual .bebida .cajaprecio .precio{
    display: grid;
    place-items: center; 
    margin: 0px;
    font-size: 30px;

}

.Fondo2 .Imagen-fondo img{
    margin-top: 600px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(124, 113, 87);
    
}

.Fondo2 .Imagen-fondo img{
    width: 100%;
    opacity: 0.5;
 
}


.Fondo2 .Imagen-fondo .logo img{
    position: absolute;
    top: 1820px;
    left: 50px;
    width: 220px;
    height: auto;
    z-index: 0.5;  

}


