@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lobster&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Great+Vibes&family=Lobster&family=MonteCarlo&family=Playwrite+HU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    
    box-sizing: content-box;
}
header {
    background: #4c2b08;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    font-family: 'Dancing Script';
    justify-content:space-between;
    align-items: center;
    
}

.menu-izquierda, .menu-derecha {
    flex: 1;
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.menu-izquierda{
    justify-content: flex-end;
}

.menu-derecha{
    justify-content: flex-end;
}

.Logo{
    flex: 0 1 auto;
    text-align: center;
}

.Logo img{
    max-width: 150px;
    height: auto;
}
.link-menu{
    text-decoration: none;
    color: #d7bda6;
    padding: 45px;
    transition: color 0.3s ease;
}

.link-menu:hover {
    color: white;
}

.Fondo1 .Imagen-fondo{
    position: absolute;
    top: 150px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 0;
    background-color: rgb(243, 231, 169);
}

.Fondo1 .Imagen-fondo img{
    width: 100%;
    opacity: 0.8;
 
}

.Fondo1 .texto{
    font-family: "MonteCarlo", cursive;
    font-size: 120px;
    position: absolute;
    top: 210px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: antiquewhite;
}

.Fondo1 .texto .titulo{
    text-shadow: 4px 4px 1px rgb(0, 0, 0);
}