@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lobster&family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Great+Vibes&family=Lobster&family=MonteCarlo&family=Playwrite+HU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
header {
    background: #4c2b08;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    font-family: 'Dancing Script';
    justify-content:space-between;
    align-items: center;
    
}

.menu-izquierda, .menu-derecha {
    flex: 1;
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.menu-izquierda{
    justify-content: flex-end;
}

.menu-derecha{
    justify-content: flex-end;
}

.Logo{
    flex: 0 1 auto;
    text-align: center;
}

.Logo img{
    max-width: 150px;
    height: auto;
}
.link-menu{
    text-decoration: none;
    color: #d7bda6;
    padding: 45px;
    transition: color 0.3s ease;
}

.link-menu:hover {
    color: white;
}

.Fondo1 .Imagen-fondo{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 0;
    background-color: rgb(243, 231, 169);
}

.Fondo1 .Imagen-fondo img{
    width: 100%;
    opacity: 0.8;
 
}

.Fondo1 .texto1{
    font-family: "MonteCarlo", cursive;
    font-size: 130px;
    position: relative;
    top: 60px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    color: antiquewhite;
    
}

.Fondo1 .texto1 .titulo{
    text-shadow: 4px 4px 1px rgb(0, 0, 0);
}

.caja0 {
    width: 234px;                /* Ancho de la caja */
    height: 400px;               /* Alto de la caja (aumentado para que quepa todo el contenido) */
    border-radius: 20px;         /* Bordes redondeados */
    margin: 20px;           /* Centramos la caja */
    box-sizing: border-box;      /* Incluye el borde y el padding en el tamaño total de la caja */
    display: flex;
    flex-direction: column;      /* Alineamos los elementos dentro de la caja en una columna */
    padding-left: 20px;
    position: absolute;
    top: 650px;

}


.caja0 .titulo {
    width: 600px;
    height: 100px;
    border: 5px solid #b37949;
    font-family: "DM Serif Text", serif;
    font-size: 60px;
    color: #552e10;
    text-shadow: 4px 4px 8px rgb(157, 119, 78);
    position: absolute;
    top: -80px;
    left: 450px;
    white-space: nowrap; /* para que el texto no se divida en varias líneas */
}
.contenedor-cajas {
    display: flex;
    justify-content: space-around;
    margin-top: -130px;
    gap: 20px;
}

.caja1{
    width: 170px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    top: 15px;}
.caja2{
    width: 220px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    top: -50px;
}
.caja3{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;}
.caja4{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.caja1 img {
    width: 180px;
    height: auto;
    border-bottom: 5px solid #b37949;
}
.caja2 img{
    width: 250px;
    height: auto;
    border-bottom: 5px solid #b37949;
}
.caja3 img{
    width: 100%;
    height: auto;
    border-bottom: 5px solid #b37949;
}
.caja4 img{
    width: 100%;
    height: auto;
    border-bottom: 5px solid #b37949;
}
    

.caja1 .contenido1 , .caja2 .contenido2 , .caja3 .contenido3 ,.caja4 .contenido4  {
    font-family: "DM Serif Text", serif;
    font-size: 16px;
    color: #4c2b08;
}

.caja1 .contenido1 p, .caja2 .contenido2 p, .caja3 .contenido3 p,.caja4 .contenido4 p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    color: #7e6f4f;
}

.contenedor-cajas2{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    position: relative;
    top: -100px;
    gap: 20px;

}
.caja5{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.caja6{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.caja7{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.caja8{
    width: 200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.caja5 img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #b37949;
}
.caja6 img{
    width: 100%;
    height: auto;
    border-bottom: 5px solid #b37949;
}
.caja7 img{
    width: 100%;
    height: auto;
    border-bottom: 5px solid #b37949;
}
.caja8 img{
    width: 100%;
    height: auto;
    border-bottom: 5px solid #b37949;
}

.caja5 .contenido5 , .caja6 .contenido6 , .caja7 .contenido7 ,.caja8 .contenido8  {
    font-family: "DM Serif Text", serif;
    font-size: 16px;
    color: #4c2b08;
}

.caja5 .contenido5 p, .caja6 .contenido6 p, .caja7 .contenido7 p,.caja8 .contenido8 p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: #7e6f4f;
}

.Texto2 .titulo {
    width: 600px;
    height: 100px;
    border: 5px solid #b37949;
    font-family: "DM Serif Text", serif;
    font-size: 60px;
    color: #552e10;
    text-shadow: 4px 4px 8px rgb(157, 119, 78);
    position: absolute;
    top: -80px;
    left: 500px;
    white-space: nowrap; /* Esto evitará que el texto se divida en varias líneas */
}
.Texto2 .titulo {
    width: 600px;
    height: 100px;
    border: 5px solid #b37949;
    font-family: "DM Serif Text", serif;
    font-size: 60px;
    color: #552e10;
    text-shadow: 4px 4px 8px rgb(157, 119, 78);
    position: absolute;
    top: 1850px;
    left: 450px;
    white-space: nowrap; /* Esto evitará que el texto se divida en varias líneas */
}
.contenedor-caja{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 120px;
    margin-top: 300px;
}
.caja-dulces1, .caja-dulces2{
    width: 1600px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}
.caja-dulces1 img{
    width: 300px; ;
    height: auto ;
    position: relative;
    top: -10px;
    left: 150px;
}
.caja-dulces2 img{
    width: 300px; ;
    height: auto ;
    position: relative;
    top: -10px;
    left: 1100px;
}
.caja-dulces3 img{
    width: 300px; ;
    height: auto ;
    position: relative;
    top: 110px;
    left: 150px;
}

.caja-dulces1 .contenido1 h2{
    font-family: "DM Serif Text", serif;
    font-size: 24px;
    color: #4c2b08;
    position: absolute;
    top: 2130px;
    left: 770px;
}
.caja-dulces2 .contenido2 h2{
    font-family: "DM Serif Text", serif;
    font-size: 24px;
    color: #4c2b08;
    position: absolute;
    top:  2570px;
    left: 430px;
}
.caja-dulces1 .contenido1 p{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: #8e6a1c;
    position: absolute;
    top: 2180px;
    left: 650px;
}
.caja-dulces2 .contenido2 p{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: #8e6a1c;
    position: absolute;
    top: 2620px;
    left: 160px;
}
.precio1 .precio2 .precio3{
    text-align: center; /* Centrar el botón */
    margin-top: 20px; /* Espacio superior */
}

.boton1{
    background-color: #b37949; /* Color de fondo */
    color: white; /* Color del texto */
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    padding: 10px 20px; /* Espaciado del texto dentro del botón */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    transition: background-color 0.3s ease; /* Efecto al pasar el mouse */
    position: absolute;
    top: 2390px;
    left: 190px;
}

.boton2{
    background-color: #b37949; /* Color de fondo */
    color: white; /* Color del texto */
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    padding: 10px 20px; /* Espaciado del texto dentro del botón */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    transition: background-color 0.3s ease; /* Efecto al pasar el mouse */
    position: absolute;
    top: 2825px;
    left: 1175px; 
}
.boton1 .boton2 .boton3{
    background-color: #552e10; /* Color cuando el mouse pasa sobre el botón */
}
.caja-dulces3 .contenido3 h2{
    font-family: "DM Serif Text", serif;
    font-size: 24px;
    color: #4c2b08;
    position: absolute;
    top:  3000px;
    left: 770px;
}
.caja-dulces3 .contenido3 p{
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: #8e6a1c;
    position: absolute;
    top: 3060px;
    left: 650px;
}
.boton3{
    background-color: #b37949; /* Color de fondo */
    color: white; /* Color del texto */
    font-family: "DM Serif Text", serif;
    font-size: 20px;
    padding: 10px 20px; /* Espaciado del texto dentro del botón */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    transition: background-color 0.3s ease; /* Efecto al pasar el mouse */
    position: absolute;
    top: 3250px;
    left: 190px; 
}



.Fondo2 {
    position: relative;
    width: 100%;  
}


.Fondo2 .Imagen-fondo img{
    margin-top: 600px;
    position: relative;
    width: 100vh;
    height: auto;
    z-index: 0;
    background-color: rgb(124, 113, 87);
    
}

.Fondo2 .Imagen-fondo img{
    width: 100%;
    opacity: 0.5;
 
}


.Fondo2 .logo img{
    position: absolute;
    bottom: 160px; 
    left: 20px; 
    width: 210px; 
    height: auto;
    z-index: 10;

}

.Fondo2 .cajaslogan {
    border: 3px solid  #c19e79;
    background-color: #c19e79;
    border-radius: 8px;
    width: 20vw;
    height: 14vh;
    position: absolute;
    top: 85%;
    left: 10px;
    z-index: 1;
}

.Fondo2 .cajaslogan .slogan{
    display: grid;
    place-items: center; 
    margin: 5px;
    font-size: 25px;

}


.Fondo2 .cajasDivision{
   
    width: 20vw;
    height: 14vh;
    position: absolute;
    top: 70%;
    left: 30%;
    z-index: 1;
}

.Fondo2 .iconos-redes-sociales {
    top: 700px;
    left: 32%;
    position: absolute;
    z-index: 1;
    margin-top: 30px;

}

.Red-link {
    color: #6F4E37;
    font-size: 2.5em;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

    
   
}

.Red-link:hover {
    transform: translateY(-5px);
    color: #4A3120;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Fondo2 .cajasDivision2{
   
    width: 20vw;
    height: 14vh;
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 1;
}